//
//  FishLampDefinitions.xcconfig
//  
//
//  Created by Mike Fullerton on 12/10/12.
//
//

FISHLAMP_PREPROCESSOR_DEFINITIONS = FISHLAMP_TARGET=1 $(FISHLAMP_TARGET) $(FISHLAMP_SETTINGS) $(FISHLAMP_TEST) $(FISHLAMP_DEBUG) $(FISHLAMP_EXTRA_PREPROCESSOR)

GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) $(FISHLAMP_PREPROCESSOR_DEFINITIONS)
