[submodule "FishLamp-CodeGenerator"]
	path = FishLamp-CodeGenerator
	url = https://github.com/fishlamp/FishLamp-CodeGenerator
[submodule "FishLamp-Objc"]
	path = FishLamp-Objc
	url = https://github.com/fishlamp/FishLamp-Objc
[submodule "FishLamp-OSX"]
	path = FishLamp-OSX
	url = https://github.com/fishlamp/FishLamp-OSX
[submodule "FishLamp-CocoaUI"]
	path = FishLamp-CocoaUI
	url = https://github.com/fishlamp/FishLamp-CocoaUI
[submodule "Piecemeal-XcodeConfigs"]
	path = Piecemeal-XcodeConfigs
	url = https://github.com/piecemeal/Piecemeal-XcodeConfigs
