//
//  Created by Mike Fullerton on 7/11/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

#include "FishLampXcodeConfigs/FishLampTargetSettings-OSX-32-MRC.xcconfig"
#include "Narcissist/SharedTargetSettings.xcconfig"