//
//  Created by Mike Fullerton on 7/11/12.
//  Copyright (c) 2012 GreenTongue Software. All rights reserved.
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = PackMule/PackMule-Prefix.pch
PRODUCT_NAME = PackMule
INFOPLIST_FILE = PackMule/Info.plist
WRAPPER_EXTENSION = app
HEADER_SEARCH_PATHS= $(inherited) $(FISHLAMP_COCOA_UI) $(FISHLAMP_OSX) $(FISHLAMP_CODE_GENERATOR)