//
//  FishLampTargetMac.xcconfig
//  
//
//  Created by Mike Fullerton on 11/13/12.
//
//

#include "FishLampXcodeConfigs/FishLampIncludedConfig-OSX-64.xcconfig"
#include "FishLampXcodeConfigs/FishLampIncludedConfig-MRC.xcconfig"
#include "FishLampXcodeConfigs/FishLampIncludedConfig-Preprocessor.xcconfig"
#include "FishLampXcodeConfigs/FishLampPaths.xcconfig"
