//
//  FishLampTargetMac32.xcconfig
//  FLCore
//
//  Created by Mike Fullerton on 11/13/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  The FishLamp Framework is released under the MIT License: http://fishlamp.com/license 
//

#include "FishLampXcodeConfigs/FishLampIncludedConfig-OSX-32.xcconfig"
#include "FishLampXcodeConfigs/FishLampIncludedConfig-MRC.xcconfig"
#include "FishLampXcodeConfigs/FishLampIncludedConfig-Preprocessor.xcconfig"
#include "FishLampXcodeConfigs/FishLampPaths.xcconfig"
